.port{
    
    margin-left: 600px; 
    
}
#download{
    background-color: black;
    color:white ;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 30px;
    display:inline-block;
}


#navbarSupportedContent a:hover{
    color: red;
}
#download:hover{
   background-color:blue;
}
#home{
    margin-top: 100px;
    margin-left: 200px;
}
/* .images{
    /* margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 500px; 
} */

.images{
    margin-left: 500px;
    margin-top: -250px;
}
#about{
    margin: 20% 8% 0 8%;
    margin-top: -50px;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 50px;
}
#intro{
    color:orangered;
    font-size:25px;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.about-img img{
    width: 80%;
}
.about-details p{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
}
.about-details p{
    text-align: justify;
}
.info-box{
    margin-top: 20px;
}


.icon-set{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

}
.icon,.up-arrow{
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    display: flex;
align-items: center;
justify-content: center;
margin: 0px 10px;
}
.icon i{
    font-size: 30px;
    color:black
}
.icon:hover{
    background-image: linear-gradient(to top left,red,yellow)
}
.icon:hover i{
    color:white;
    animation: shake 0.75s;

}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg)
    }
    30%{
        transform: rotate(15deg)
    }
    40%{
        transform: rotate(-15deg)
    }
}
footer{
    margin: 50px
}
footer p{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

/* .up-arrow{
    float: right;
    background-image: linear-gradient(to top left,rgb(255, 111, 0),yellow);
    margin: 30px 20px 30px 0px;

}
.up-arrow:hover i{
    color:white;
}   
html{
    scroll-behavior: smooth;
} */

